body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#f0f0f0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tab, .activeTab{
  outline: none;
  width: 50%;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 16px;
  background-color: Transparent;
  border: none;
  margin-bottom: 15px;
 }

.activeTab {
  border-bottom: 4px solid;
  font-weight: bold;
}
.container {
  height: 65vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}

.graph-area {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  /* height: 40%; */
}
.leg{
  display: flex;
  margin-bottom: 10px;
  align-content: center;
  align-items: center;


}
.label {
  text-align: left;
  /* width: 50%; */
}
.leg-dot{
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
.valor{
  display: inline-block;
  padding-right: 5px;
  width: 30px;
  text-align: right;
}
.title{
  width: 70%;
  margin-left: 10px;
}
.saldo{
  margin: 0 10px;
}
.regate{
  display: flex;
  height: 65vh;
  flex-flow: column;
  align-items: center;
}
.saldo{
  font-size: 25px;
  font-weight: bold;
}

.btn-resgate, .btn-ev  {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  width: 80%;
  margin: 10px 0;
  border-color: transparent;
  border-radius: 15px;
  background-color: #fff;

}

